# Q1

In [3]:
def bank_acount(name,id_,mtn):
    acount={
        "name":name,
        "id_":id_,
        "mtn":mtn
    }
    return acount
a1 = bank_acount('hamouda',324453456543,1200)
print(a1)

{'name': 'hamouda', 'id_': 324453456543, 'mtn': 1200}

In [6]:
def nb_complexe(a,b1,b2):
    return str(a)+str(b1)+str(b2)
x = nb_complexe(2,3.4,5.7)
print(x)

23.45.7

In [19]:
def date(jour,mois,année):
    return str(jour)+" - "+str(mois)+" - "+str(année)
d = date(4,2,2002)
print(d)

4 - 2 - 2002

In [20]:
def facebook(login,password,date):
    acount= {
        "login":login,
        "password":password,
        "date":date
    }
    return acount
fb = facebook('login','password',d)
print(fb)

{'login': 'login', 'password': 'password', 'date': '4 - 2 - 2002'}

# Q2

In [41]:
import datetime
import re

now = datetime.datetime.now()
r = re.compile("^[a-zA-Z ]*$")

def embauche():
    while True:
        x = int(input('L’année d’embauche = '))
        if x in range(2000,now.year+1):
            return x
    
def name():
    while True:
        x = input('Nom et Prénom = ')
        if r.match(x):
            return x

def nbr(msg):
    while True:
        print(msg,end = ' ')
        x = input()
        if len(x) == 8:
            return x

def nbemp():
    while True:
        N = int(input('N employés = '))
        if N in range(5,101):
            return N

def remp(N):
    T = []
    for i in range(N):
        nom = name()
        CIN = nbr("CIN = ")
        emb = embauche()
        adress = input('Adresse = ')
        nb = nbr("N° Tel = ")
        user = {
            "nom":nom,
            "CIN":CIN,
            "emb":emb,
            "adress":adress,
            "nbr":nb
        }
        T.append(user)
    return T

def find(T,CIN):
    for i in range(len(T)):
        if T[i]["CIN"] == CIN:
            return T[i]
    return 'N°CIN non valide'
    
N = nbemp()
T = remp(N)
for i in range(N):
    print(T[i])
F = find(T,"12345678")
print(F)

N employés = 5
Nom et Prénom = H
CIN =  12345678
L’année d’embauche = 2020
Adresse =
N° Tel =  50774419
Nom et Prénom = B
CIN =  87654322
L’année d’embauche = 2019
Adresse = AZE
N° Tel =  50774419
Nom et Prénom = F
CIN =  12345678
L’année d’embauche = 2000
Adresse = 1221
N° Tel =  12345678
Nom et Prénom = D
CIN =  12324353
L’année d’embauche = 2009
Adresse = ZE2
N° Tel =  12348765
Nom et Prénom = AQD
CIN =  12345687
L’année d’embauche = 2012
Adresse = DZ
N° Tel =  12387654
{'nom': 'H', 'CIN': '12345678', 'emb': 2020, 'adress': '', 'nbr': <function nbr at 0x000002072DB74790>}
{'nom': 'B', 'CIN': '87654322', 'emb': 2019, 'adress': 'AZE', 'nbr': <function nbr at 0x000002072DB74790>}
{'nom': 'F', 'CIN': '12345678', 'emb': 2000, 'adress': '1221', 'nbr': <function nbr at 0x000002072DB74790>}
{'nom': 'D', 'CIN': '12324353', 'emb': 2009, 'adress': 'ZE2', 'nbr': <function nbr at 0x000002072DB74790>}
{'nom': 'AQD', 'CIN': '12345687', 'emb': 2012, 'adress': 'DZ', 'nbr': <function nbr at 0x000002072DB74790>}

# Q3

In [45]:
    def cand():
        while True:
            N = int(input('N = '))
            if N in range(5,101):
                return N

    def remp(N):
        T = []
        for _ in range(N):
            NCIN = int(input('NCIN = '))
            nom = input('nom = ')
            prénom = input('prénom = ')
            âge = int(input('âge = '))
            diplôme = input("diplôme = ")
            note = int(input('note'))
            x = {
                'NCIN':NCIN,
                'nom':nom,
                'prénom':prénom,
                'âge':âge,
                'diplôme':diplôme,
                'note':note
            }
            T.append(x)
        return T
    N = cand()
    T = remp(N)


    def sort(T):
        for i in range(len(T) - 1):
            for j in range(0 , len(T) - i - 1):

                if T[j]["note"] > T[j+1]["note"] :
                    T[j], T[j+1] = T[j+1], T[j]
        return T

    T = sort(T)
    for i in range(5):
        print(T[i])

N = 3
N = 4
N = 5
NCIN = 1
nom = 1
prénom = 1
âge = 1
diplôme = 1
note1
NCIN = 2
nom = 2
prénom = 2
âge = 2
diplôme = 2
note2
NCIN = 3
nom = 3
prénom = 3
âge = 3
diplôme = 3
note3
NCIN = 3
nom = 4
prénom = 4
âge = 4
diplôme = 4
note4
NCIN = 4
nom = 5
prénom = 5
âge = 5
diplôme = 5
note5
{'NCIN': 1, 'nom': '1', 'prénom': '1', 'âge': 1, 'diplôme': '1', 'note': 1}
{'NCIN': 2, 'nom': '2', 'prénom': '2', 'âge': 2, 'diplôme': '2', 'note': 2}
{'NCIN': 3, 'nom': '3', 'prénom': '3', 'âge': 3, 'diplôme': '3', 'note': 3}
{'NCIN': 3, 'nom': '4', 'prénom': '4', 'âge': 4, 'diplôme': '4', 'note': 4}
{'NCIN': 4, 'nom': '5', 'prénom': '5', 'âge': 5, 'diplôme': '5', 'note': 5}

# Q4

In [ ]:
def nbemp():
    while True:
        N = int(input('N employés = '))
        if N in range(5,101):
            return N
#référence désignation ddv 
T=[]
for i in range(N):
    référence= input('référence = ')
    désignation = input('désignation')
    ddv = input('ddv = ')
    art = {
         'référence':référence,
         'désignation':désignation,
         'ddv':ddv
     }
    T.append(art)
def find(T,key,N):
    for i in range(N):
        if T[i]['référence'] == key:
            return T[i]
    return 'err'
print(find(T,"azerty",N))
def deleteart(T,deli):
    for i in range(len(T)):
        if(T[i]['référence'] == deli):
            del T[i]['référence']
            return 'item deleted'
    return 'item not found'
print(deleteart(T,'azerty'))